{% load staticfiles %}
<!doctype html>
<html>
<head>
    <title>{% block title %}HackUMass{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/stylesheet.css' %}">
    {% block meta %}{% endblock %}

    {% block css %}

    {% endblock %}

    {% block js %}
    <script type="text/javascript">window.csrfToken = "{{ csrf_token }}";</script>
    <script type="text/javascript" src="{% static 'core.js' %}"></script>

    {% endblock %}
</head>

<body{% block bodytag %}{% endblock %}>
{% block body %}
    <header>
    {% block header %}
    {% endblock %}
    </header>

    {% block content %}

    {% endblock %}

    <footer>
    {% block footer %}
    {% endblock %}
    </footer>

{% endblock %}
</body>
</html>