{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Home - {{ block.super }}{% endblock %}

{% block css %}
{{ block.super }}
{% endblock %}

{% block js %}
{{ block.super }}

    <script type="text/javascript" src="{% static 'reconnecting-websocket.min.js' %}"></script>
    <script type="text/javascript">var apiEndpoint = "{% url 'api' %}";</script>
    <script type="text/javascript" src="{% static 'index.js' %}"></script>
{% endblock %}

{% block content %}

<div class = "box">
<h1>HackUMass</h1>
</div>
<p>Real-time analysis below</p>
<div class="video">
	<p>Video stream</p>

    <video id="videl" muted></video>

<div class="box2">
<p>Relevant Tags</p></div>
<div class="box3">
<p>Analysis</p>
<button onclick="sendPic()">Take Photo</button>
<br />
<div id="imgs"></script>
</div>
</div>


{% endblock %}
